*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.input-zone {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.input-zone-input {
  flex: 1;
  margin-right: 10px;
}

.message-author {
  font-weight: bold;
}

.messages {
  border: 1px solid #000;
  margin: 10px;
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  padding: 5px;
}

.frame-button {
  display: block;
  width: 100px;
  height: 100px;
  background-color: red;
}

.canvas {
  display: block;
  width: 90vh;
  height: 90vh;
  margin: auto;
}

.game-container {
  background: rgb(46, 0, 89);
  background: linear-gradient(
    180deg,
    rgba(46, 0, 89, 1) 0%,
    rgba(111, 7, 102, 1) 55%,
    rgba(64, 1, 15, 1) 100%
  );
}

.controller-container {
    height: 300px;
}

.touch-control {
    height: 100%;
}

.touch-slider {
  width: calc(100% - 40px);
  margin: 20px;
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  background: #d3d3d3;
  outline: none;
}

.touch-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 300px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
